body {
  margin: 0px;
}

.faceimg {
  height: auto;
  width: 100%;
}

.contents {
  text-align: center;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #008080;
  margin: 20px 20px;
}

.desig {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 20px;
}

.firm {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #808080;
}

.social {
  display: flex;
  justify-content: center;
}

.fab {
  font-size: 25px;
  margin: 10px 10px;
}

.btn-teal {
  background-color: #008080;
}

.btn-teal:hover {
  background-color: #015555;
}

.card {
  border-style: solid;
  padding: 10px;
  width: 20%;
}

.social > a {
  color: #050505;
}
